__pycache__
launch.json
settings.json
.vscode
my_package.egg-info
archive/
.pymc_*.trace/
*.csv
build/
GP4P.egg-info

modeldata/*.pth

adapters/sklearn/*.*
# Add the missing entries below
# BEGIN: abpxx6d04wxr
__pycache__
launch.json
settings.json
.vscode
#my_package.egg-info
archive/
.pymc_*.trace/
*.csv
# END: abpxx6d04wxr
rawdata/*/*.*